* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}
body { 
  font: 13px Helvetica, Arial; 
}
form { 
  background: #0f0f0f; 
  padding: 3px; 
  position: fixed; 
  bottom: 0; 
  width: 100%; 
}
form input { 
  border: 0; 
  padding: 10px; 
  width: 100%;  
}
form button { 
  width: 9%; 
  border: none; 
  padding: 10px; 
}
.bg-text {
  color: #f0f0f0;
  cursor: default;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
#logo {
  font-size: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.img-msg {
	position: absolute;
}
.txt-msg {
	position: fixed;
}